
body{
  
background: rgba(113,206,239,1)  url('images/ProgrammingLanguage1.png');
background: -moz-linear-gradient(left, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 30%, rgba(183,222,237,1) 47%, rgba(183,222,237,1) 51%, rgba(183,222,237,1) 62%, rgba(33,180,226,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(113,206,239,1)), color-stop(30%, rgba(113,206,239,1)), color-stop(47%, rgba(183,222,237,1)), color-stop(51%, rgba(183,222,237,1)), color-stop(62%, rgba(183,222,237,1)), color-stop(100%, rgba(33,180,226,1)));
background: -webkit-linear-gradient(left, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 30%, rgba(183,222,237,1) 47%, rgba(183,222,237,1) 51%, rgba(183,222,237,1) 62%, rgba(33,180,226,1) 100%);
background: -o-linear-gradient(left, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 30%, rgba(183,222,237,1) 47%, rgba(183,222,237,1) 51%, rgba(183,222,237,1) 62%, rgba(33,180,226,1) 100%);
background: -ms-linear-gradient(left, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 30%, rgba(183,222,237,1) 47%, rgba(183,222,237,1) 51%, rgba(183,222,237,1) 62%, rgba(33,180,226,1) 100%);
background: linear-gradient(to right, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 30%, rgba(183,222,237,1) 47%, rgba(183,222,237,1) 51%, rgba(183,222,237,1) 62%, rgba(33,180,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ceef', endColorstr='#21b4e2', GradientType=1 );

}


.navbar {
    overflow: hidden;
    background-color: rgb(51, 20, 230);
    font-family: Arial;
    width:50%;
    margin:auto;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2330ea38;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}



.show {
    display: block;
}